<div class="col-md-9">
	<div class="svg-container">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 611 1307" version="1.1">
			<g>
				<!-- Enable rooms -->
				<rect class="enabled" x="204" y="1148" width="233" height="110" fill="#77AA77" stroke="white" (click)="openModal('O+309')" [ngClass]="{'room-with-event' : isEventSet('O+309')}" />
				<text x="310" y="1203" text-anchor="middle" alignment-baseline="central" fill="white" font-size="25">O+309</text>

				<rect class="enabled" x="34" y="1028" width="170" height="230" fill="#77AA77" stroke="white" (click)="openModal('O+308')" [ngClass]="{'room-with-event' : isEventSet('O+308')}" />
				<text x="119" y="1143" text-anchor="middle" alignment-baseline="central" fill="white" font-size="25">O+308</text>

				<rect class="enabled" x="437" y="1028" width="170" height="230" fill="#77AA77" stroke="white" (click)="openModal('O+310')" [ngClass]="{'room-with-event' : isEventSet('O+310')}" />
				<text x="522" y="1143" text-anchor="middle" alignment-baseline="central" fill="white" font-size="25">O+310</text>

				<rect class="enabled" x="437" y="849" width="170" height="180" fill="#77AA77" stroke="white" (click)="openModal('O+311')" [ngClass]="{'room-with-event' : isEventSet('O+311')}" />
				<text x="522" y="939" text-anchor="middle" alignment-baseline="central" fill="white" font-size="25">O+311</text>

				<rect class="enabled" x="34" y="849" width="170" height="180" fill="#77AA77" stroke="white" (click)="openModal('O+307')" [ngClass]="{'room-with-event' : isEventSet('O+307')}" />
				<text x="119" y="939" text-anchor="middle" alignment-baseline="central" fill="white" font-size="25">O+307</text>

				<rect class="enabled" x="34" y="459" width="170" height="200" fill="#77AA77" stroke="white" (click)="openModal('O+303')" [ngClass]="{'room-with-event' : isEventSet('O+303')}" />
				<text x="119" y="559" text-anchor="middle" alignment-baseline="central" fill="white" font-size="25">O+303</text>

				<rect class="enabled" x="437" y="260" width="170" height="200" fill="#77AA77" stroke="white" (click)="openModal('O+317')" [ngClass]="{'room-with-event' : isEventSet('O+317')}" />
				<text x="522" y="360" text-anchor="middle" alignment-baseline="central" fill="white" font-size="25">O+317</text>

				<rect class="enabled" x="34" y="259" width="170" height="200" fill="#77AA77" stroke="white" (click)="openModal('O+302')" [ngClass]="{'room-with-event' : isEventSet('O+302')}" />
				<text x="119" y="359" text-anchor="middle" alignment-baseline="central" fill="white" font-size="25">O+302</text>

				<rect class="enabled" x="437" y="4" width="170" height="180" fill="#77AA77" stroke="white" (click)="openModal('O+318')" [ngClass]="{'room-with-event' : isEventSet('O+318')}" />
				<text x="522" y="94" text-anchor="middle" alignment-baseline="central" fill="white" font-size="25">O+318</text>

				<rect class="enabled" x="34" y="4" width="170" height="180" fill="#77AA77" stroke="white" (click)="openModal('O+301')" [ngClass]="{'room-with-event' : isEventSet('O+301')}" />
				<text x="119" y="94" text-anchor="middle" alignment-baseline="central" fill="white" font-size="25">O+301</text>

				<!-- Disabled rooms -->
				<rect x="437" y="460" width="170" height="200" fill="#B3B3B3" stroke="white"/>
				<rect x="204" y="4" width="233" height="180" fill="#B3B3B3" stroke="white"/>
				<rect x="34" y="659" width="136" height="190" fill="#B3B3B3" stroke="white"/>
				<rect x="471" y="660" width="136" height="189" fill="#B3B3B3" stroke="white"/>
				<rect x="354.35" y="888" width="28.91" height="122.2" fill="#B3B3B3" stroke="none"/>
				<rect x="258" y="991.4" width="125.26" height="37.6" fill="#B3B3B3" stroke="none"/>
				<rect x="258" y="888" width="29.65" height="122.2" fill="#B3B3B3" stroke="none"/>
				<rect x="257" y="1029" width="127" height="69" fill="#B3B3B3" stroke="white"/>
				<rect x="252" y="268" width="136" height="292" fill="#B3B3B3" stroke="white"/>

				<!-- Doors -->
				<path d="M 23.5 194.5 L 44.5 194.5" fill="#77AA77" stroke="#B3B3B3" stroke-width="5" stroke-miterlimit="10" transform="rotate(90,34,194.5)" stroke-linecap="round"/>
				<path d="M 596.5 194.5 L 617.5 194.5" fill="#77AA77" stroke="#B3B3B3" stroke-width="5" stroke-miterlimit="10" transform="rotate(90,607,194.5)" stroke-linecap="round"/>
				<path d="M 4 235.24 L 34 205.24" fill="#77AA77" stroke="#B3B3B3" stroke-width="5" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M 577 234.24 L 607 204.24" fill="#77AA77" stroke="#B3B3B3" stroke-width="5" stroke-miterlimit="10" stroke-linecap="round"/>

				<!-- Escalier -->
				<rect x="287.65" y="888" width="66.71" height="10.34" fill="#B3B3B3" stroke="white"/>
				<rect x="287.65" y="898.34" width="66.71" height="10.34" fill="#B3B3B3" stroke="white"/>
				<rect x="287.65" y="908.68" width="66.71" height="10.34" fill="#B3B3B3" stroke="white"/>
				<rect x="287.65" y="919.02" width="66.71" height="10.34" fill="#B3B3B3" stroke="white"/>
				<rect x="287.65" y="929.36" width="66.71" height="10.34" fill="#B3B3B3" stroke="white"/>
				<rect x="287.65" y="939.7" width="66.71" height="10.34" fill="#B3B3B3" stroke="white"/>
				<rect x="287.65" y="950.04" width="66.71" height="10.34" fill="#B3B3B3" stroke="white"/>
				<rect x="287.65" y="960.38" width="66.71" height="10.34" fill="#B3B3B3" stroke="white"/>
				<rect x="287.65" y="970.72" width="66.71" height="10.34" fill="#B3B3B3" stroke="white"/>
				<rect x="287.65" y="981.06" width="66.71" height="10.34" fill="#B3B3B3" stroke="white"/>

				<path d="M 227 719.34 L 282.34 664 L 358.66 664 L 414 719.34 L 414 795.66 L 358.66 851 L 282.34 851 L 227 795.66 Z" fill="#B3B3B3" stroke="white" stroke-miterlimit="10"/>

				<!-- Escalier -->
				<rect x="279.65" y="608" width="80" height="10.3" fill="#B3B3B3" stroke="white"/>
				<rect x="279.65" y="618.3" width="80" height="10.3" fill="#B3B3B3" stroke="white"/>
				<rect x="279.65" y="628.6" width="80" height="10.3" fill="#B3B3B3" stroke="white"/>
				<rect x="279.65" y="638.9" width="80" height="10.3" fill="#B3B3B3" stroke="white"/>
				<rect x="279.65" y="649.2" width="80" height="10.3" fill="#B3B3B3" stroke="white"/>
				<rect x="279.65" y="659.5" width="80" height="10.3" fill="#B3B3B3" stroke="white"/>
				<rect x="279.65" y="669.8" width="80" height="10.3" fill="#B3B3B3" stroke="white"/>
				<rect x="279.65" y="680.1" width="80" height="10.3" fill="#B3B3B3" stroke="white"/>
				<rect x="279.65" y="690.4" width="80" height="10.3" fill="#B3B3B3" stroke="white"/>
				<rect x="279.65" y="700.7" width="80" height="10.3" fill="#B3B3B3" stroke="white"/>

				<image x="296" y="1038" width="50" height="50" xlink:href="https://cdn4.iconfinder.com/data/icons/dot/128/toilets.png" preserveAspectRatio="none"/>
				<image x="296" y="67.94" width="50" height="50" xlink:href="https://cdn4.iconfinder.com/data/icons/dot/128/toilets.png" preserveAspectRatio="none"/>

			</g>
		</svg>
	</div>
</div>
<app-time-selector [selectedInterval]="selectedInterval" (selectedIntervalUpdate)="timeSelected($event)" class="col-md-3"></app-time-selector>
