<nav class="navbar navbar-fixed-top navbar-light bg-faded whiteframe">
	<span class="navbar-brand">
		<img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
		Suivez Bouddha!
	</span>
</nav>
<div class="row">
	<div class="col-sm-9">
		<md-tab-group [(selectedIndex)]="selectedIndex">
			<md-tab [label]="firstFloorName">
				<app-first-floor [floor]="floors[0]" [selectedEventRoomNumber]="selectedEventRoomNumber"></app-first-floor>
			</md-tab>
			<md-tab [label]="secondFloorName">
				<app-second-floor [floor]="floors[1]" [selectedEventRoomNumber]="selectedEventRoomNumber"></app-second-floor>
			</md-tab>
		</md-tab-group>
	</div>
	<div class="col-sm-3" style="max-height: calc(100vh - 54px); overflow-y: scroll;">
		<app-event-selector [events]="events" (selectedRoomUpdate)=roomSelected($event)></app-event-selector>
	</div>
</div>
