<div class="text-xs-center">
	<span class="relative-position">
		<!-- <div *ngFor="let room of floor.rooms" [style.top.px]="room.top" [style.left.px]="room.left" class="absolute-position">
			<button md-raised-button (click)="openDialog('Library')"> 
				{{room.number}}
				<md-icon>mode_edit</md-icon>
			</button>
		</div> -->
<!-- 		<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
			<g>
				<circle ... //your img svg
				<rect class="btn" x="0" y="0" width="50" height="50"  />
			</g>
		</svg> -->
		<!-- <object data="assets/floor1.svg" type="image/svg+xml" class="mailicon"></object> -->
		<!-- <img [src]="floor.image"> -->
		<app-first-floor></app-first-floor>
	</span>
</div>
